In [5]:
import pandas as pd

# Cargar el archivo CSV
df_cleaned = pd.read_csv('C:/Users/PC/Desktop/Projects_Repository/Projects/Real_Madrid_Predictive_Model/First Data Cleaning Process/cleaned_matches_all_seasons.csv')

# Ver las primeras filas del DataFrame para confirmar la carga
df_cleaned.head()

,Division,Date,Home_Team,Away_Team,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,Away_Corners,Home_Yellow_Cards,Away_Yellow_Cards,Home_Red_Cards,Away_Red_Cards
0,SP1,23/08/14,Almeria,Espanol,1,1,D,19,12,6,2,11,7,3,2,0,1
1,SP1,23/08/14,Granada,La Coruna,2,1,H,10,7,3,1,5,3,1,2,0,0
2,SP1,23/08/14,Malaga,Ath Bilbao,1,0,H,12,12,3,5,5,4,3,3,2,0
3,SP1,23/08/14,Sevilla,Valencia,1,1,D,10,11,3,1,3,3,4,2,0,1
4,SP1,24/08/14,Barcelona,Elche,3,0,H,12,3,6,0,3,1,0,1,1,0

In [6]:
#Fix dates and make them Int64
# Function to parse date with known formats
def parse_date(date_str):
    try:
        # Try common formats
        return pd.to_datetime(date_str, format="%d/%m/%y", dayfirst=True)
    except (ValueError, TypeError):
        try:
            return pd.to_datetime(date_str, format="%d-%m-%Y", dayfirst=True)
        except (ValueError, TypeError):
            return pd.NaT  # Return NaT if parsing fails

# Apply the parsing function
df_cleaned['Date'] = df_cleaned['Date'].apply(parse_date)

# Drop rows with unparseable dates
df_cleaned.dropna(subset=['Date'], inplace=True)

# Sort data by date to ensure chronological order
df_cleaned.sort_values('Date', inplace=True)

# Check the first few rows to confirm successful conversion and sorting
df_cleaned[['Date']].head()

        Date
0 2014-08-23
1 2014-08-23
2 2014-08-23
3 2014-08-23
4 2014-08-24

In [8]:
df_cleaned.to_csv('cleaned_data2.csv', index=False)
print("se exporto un nuevo csv en la carpeta actual")

se exporto un nuevo csv en la carpeta actual

In [9]:
df_cleaned.dtypes

Division                        object
Date                    datetime64[ns]
Home_Team                       object
Away_Team                       object
Home_Goals                       int64
Away_Goals                       int64
Result                          object
Home_Shots                       int64
Away_Shots                       int64
Home_Shots_on_Target             int64
Away_Shots_on_Target             int64
Home_Corners                     int64
Away_Corners                     int64
Home_Yellow_Cards                int64
Away_Yellow_Cards                int64
Home_Red_Cards                   int64
Away_Red_Cards                   int64
dtype: object