In [7]:
import pandas as pd
import glob

In [8]:
# Refer all the data from my local pc folder
folder_path ="C:/Users/PC/Desktop/raw data/*.csv"

In [9]:
# List to store each season's DataFrame
dataframes = []

# Iterate through all CSV files in the folder
for file in glob.glob(folder_path):
    # Load each CSV file into a DataFrame
    df = pd.read_csv(file)
    
    # Select only the relevant columns
    df = df[['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 
             'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']]
    
    # Rename columns to make them easier to analyze
    df.rename(columns={
        'Div': 'Division',
        'Date': 'Date',
        'HomeTeam': 'Home_Team',
        'AwayTeam': 'Away_Team',
        'FTHG': 'Home_Goals',
        'FTAG': 'Away_Goals',
        'FTR': 'Result',
        'HS': 'Home_Shots',
        'AS': 'Away_Shots',
        'HST': 'Home_Shots_on_Target',
        'AST': 'Away_Shots_on_Target',
        'HC': 'Home_Corners',
        'AC': 'Away_Corners',
        'HY': 'Home_Yellow_Cards',
        'AY': 'Away_Yellow_Cards',
        'HR': 'Home_Red_Cards',
        'AR': 'Away_Red_Cards'
    }, inplace=True)
    
    # Add the cleaned DataFrame to the list
    dataframes.append(df)

In [10]:
# Combine all DataFrames into a single DataFrame
data = pd.concat(dataframes, ignore_index=True)

# Display the first few rows to verify the cleaning
data

,Division,Date,Home_Team,Away_Team,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,Away_Corners,Home_Yellow_Cards,Away_Yellow_Cards,Home_Red_Cards,Away_Red_Cards
0,SP1,23/08/14,Almeria,Espanol,1,1,D,19,12,6,2,11,7,3,2,0,1
1,SP1,23/08/14,Granada,La Coruna,2,1,H,10,7,3,1,5,3,1,2,0,0
2,SP1,23/08/14,Malaga,Ath Bilbao,1,0,H,12,12,3,5,5,4,3,3,2,0
3,SP1,23/08/14,Sevilla,Valencia,1,1,D,10,11,3,1,3,3,4,2,0,1
4,SP1,24/08/14,Barcelona,Elche,3,0,H,12,3,6,0,3,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,SP1,25/05/2024,Real Madrid,Betis,0,0,D,13,11,5,3,4,5,2,1,0,0
3796,SP1,26/05/2024,Getafe,Mallorca,1,2,A,16,9,6,4,3,4,0,2,0,0
3797,SP1,26/05/2024,Celta,Valencia,2,2,D,9,12,4,1,2,2,0,0,0,0
3798,SP1,26/05/2024,Las Palmas,Alaves,1,1,D,10,14,4,4,2,6,2,1,0,0
3799,SP1,26/05/2024,Sevilla,Barcelona,1,2,A,15,11,6,6,6,5,2,1,0,0

In [13]:
# Convert Date column to datetime format, handling different date formats
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y', errors='coerce')
# Check for any NaT (Not a Time) values resulting from parsing errors
missing_dates = data[data['Date'].isna()]
if not missing_dates.empty:
    print("Some dates could not be parsed:")
    print(missing_dates[['Date']])

# Drop rows with unparseable dates or handle them as needed
data = data.dropna(subset=['Date'])

# Sort data by date to ensure chronological order
data.sort_values('Date', inplace=True)

# Check the first few rows to confirm successful conversion and sorting
data[['Date']].head()

C:\Users\PC\AppData\Local\Temp\ipykernel_12892\2659305135.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y', errors='coerce')

           Date
1520 2018-08-17
1521 2018-08-17
1522 2018-08-18
1523 2018-08-18
1524 2018-08-18

In [12]:
data['Result_1'] = data.apply(
    lambda row: 'W' if row['Home_Goals'] > row['Away_Goals'] else ('D' if row['Home_Goals'] == row['Away_Goals'] else 'L'),
    axis=1
)
data.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_12892\1341484781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Result_1'] = data.apply(

,Division,Date,Home_Team,Away_Team,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,Away_Corners,Home_Yellow_Cards,Away_Yellow_Cards,Home_Red_Cards,Away_Red_Cards,Result_1
1520,SP1,2018-08-17,Betis,Levante,0,3,A,22,6,8,4,5,3,0,2,0,0,L
1521,SP1,2018-08-17,Girona,Valladolid,0,0,D,13,2,1,1,3,2,1,1,0,0,D
1522,SP1,2018-08-18,Barcelona,Alaves,3,0,H,25,3,9,0,7,1,0,2,0,0,W
1523,SP1,2018-08-18,Celta,Espanol,1,1,D,12,14,2,5,8,7,3,2,0,0,D
1524,SP1,2018-08-18,Villarreal,Sociedad,1,2,A,16,8,7,4,4,6,2,3,0,0,L